#chart {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
}

.heading {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

li a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
}

li a:hover {
    background-color: rgb(142, 211, 38);
}

li .active {
    background-color: rgb(142, 211, 38);
}

.content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ct-bar {
    stroke: red !important;
    stroke-width: 0.5%;
}